/* 색상설정 : 파랑 - #58ACFA / 노랑 - #FACC2E / 주황 - #fa6b58 / 초록 - #92d050 / 보라 - #d38bee */
.set_color {color: #fa6b58 !important; opacity: 1 !important;}
.set_bg {background-color: #fa6b58 !important; opacity: 1 !important;}
.set_bor {border-color: #fa6b58 !important;}
.set_button {background-color:#fa6b58;color:#fff;font-weight:600;}

.header_wrap .top_menu > ul > li > a:hover {color: #fa6b58;opacity: 0.7;}
.left_nav > ul > li:hover {background-color: #fa6b58;opacity: 0.5;}
.mResultTablePage .pageNum span.on{background-color: #fa6b58;}
/* 색상설정 끝 */